{% extends 'base.html' %}
{% load static %}

{% block style %}
<title>Home - Chelsea Construction</title>
{% endblock style %}

{% block container %}

<!-- banner carousel-->
<section id="history_banner" class="history_banner"
  style="background:linear-gradient(rgba(13, 17, 20, 0.5), rgba(19, 35, 51, 0.5)), url('{{history_first_banner_pic}}');">
  <div class="container pb-5" style="padding-top: 69px;">
    <div class="pb-5">
      <h1 class="text-center welcome_header" style="color: rgb(255, 255, 255); font-size: 40px; font-weight: 500;">Our
        Approach</h1>
    </div>
  </div>
  <div id="page_divider" style="background: transparent;">
    <div class="et_pb_bottom_inside_divider"></div>
  </div>
</section>
<!-- Approach -->
<!-- Approach -->
<section id="approach" style="background-color:transparent">
  <div class="container-fluid pb-5">
    <div class="container">
      <h2 class="text-center aproach_heading major_portfolio">Our Approach</h2>
    </div>
    <div class="row pt-5 justify-content-center">
      {% for i in approaches %}
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="pb-5">
          <a href="#">
            <div class="card pl-lg-2 pr-lg-2" style="border: transparent;background-color: transparent;">
              <img class="card-img-top" src="{{i.image}}" alt="{{i.name}}">
              <div class="card-body text-center" style="padding: 0!important;">
                <div class="pb-3 pt-4">
                  <h3 class="card-text approach_card_text">
                    {{i.name}}
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      <div class="col-12">
        <a href="#" class="btn btn-aproach_last">Learn More</a>
      </div>
    </div>
  </div>
</section>

<!-- banner -->
<section id="galary" style="background: transparent; padding-top: 69px;">
  <div class="row m-auto">
    <div class="col-12 p-0">

      {% for i in details_approaches %}
      

      {% if forloop.counter|divisibleby:2 %}
      <div class="row">
        <div class="col-lg-6 pt-5 pb-5" style="background-color: #f3f8ff;">
          <div class="row justify-content-center align-items-center">
            <div class="col-10">
              <div class="row justify-content-center align-items-center">
                <div class="col-4 pt-5">
                  <img
                    src="{{i.approach_img}}"
                    class="w-100" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center pt-4 pb-2">
                  <h2 class="card_head_text">{{i.title}}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center pt-2 pb-3">
                  <p class="card_text_approch">{{i.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-0">
          <div
            style="background: url('{{i.bg_image}}'); background-position: center;background-size: cover; height: 100%;">
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-6 p-0">
          <div
            style="background: url('{{i.bg_image}}'); background-position: center;background-size: cover; height: 100%;">
          </div>
        </div>
        <div class="col-lg-6 pt-5 pb-5" style="background-color: #f3f8ff;">
          <div class="row justify-content-center align-items-center">
            <div class="col-10">
              <div class="row justify-content-center align-items-center">
                <div class="col-4 pt-5">
                  <img
                    src="{{i.approach_img}}"
                    class="w-100" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center pt-4 pb-2">
                  <h2 class="card_head_text">{{i.title}}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center pt-2 pb-3">
                  <p class="card_text_approch">{{i.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock container %}