{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{contact_view.header_logo}}" type="image/x-icon">

    {% block style %}

    {% endblock style %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <link rel="stylesheet" href="{% static 'css/approch.css' %}">
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

</head>

<body>
    <!-- header  -->
    <header id="header" class="sticky-top">
        <!-- logo container -->
        <div class="container">
            <div>
                <div>
                    <div id="navlogo" class="flex logo_container">
                      <div class="flex logo_link"><a id="logo" href="{% url 'home' %}"><img src="{{contact_view.header_logo}}" alt="" class="w-100"></a></div>
                  </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light custom_nav">
                    <span class="d-lg-none">Select Page</span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span id="toggle_icon" class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="nav_ul" class="navbar-nav m-auto custom_ul">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'about' %}" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'about' %}#history">History</a>
                                    <a class="dropdown-item" href="{% url 'approach' %}">Our Approach</a>
                                    <a class="dropdown-item" href="{% url 'about' %}#team">The Team</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Service
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Refurbishment and <br>Development</a>
                                    <a class="dropdown-item" href="#">Maintenance</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    
    {% block container %}

    {% endblock container %}
    <!-- contact -->
    <!--Using context processors-->
    <section id="page_divider">
        <div class="page_divider"></div>
    </section>
    <section id="contact">
        <div class="pt-5 pb-5 container">
            <h2 class="text-center major white" style="color: white;">Get In Touch</h2>
            <div class="row pt-5 pb-5">
                <div class="col-lg-4 col-md-12 pb-2">
                    <div class="pr-lg-5">
                        <div class="logo_img_area">
                            <img src="{{contact_view.footer_logo}}" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pb-2">
                    <div class="pr-lg-5" style="color: white;">
                        <div class="pb-2">
                            <div class="table_icon">
                                <span><i class="fas fa-map-marker-alt cfas"></i></span>
                            </div>
                            <div class="table_text">
                                <p class="contact_text">
                                    {{contact_view.address}}
                                </p>
                            </div>
                        </div>
                        <div class="pb-2">
                            <div class="table_icon">
                                <span><i class="fas fa-phone-alt cfas"></i></span>
                            </div>
                            <div class="table_text">
                                <p class="contact_text">{{contact_view.phone}}</p>
                            </div>
                        </div>
                        <div class="pb-2">
                            <div class="table_icon">
                                <span><i class="far fa-envelope cfas"></i></span>
                            </div>
                            <div class="table_text">
                                <p class="contact_text"><a
                                        href="mailto:{{contact_view.email}}">{{contact_view.email}}</a></p>
                            </div>
                        </div>
                        <div class="pb-2">
                            <div class="table_icon">
                                <span><a href="{{contact_view.twitter}}" style="text-decoration: none; color: #fff;"><i
                                            class="fab fa-twitter-square cfas"></i></a></span>
                            </div>
                            <div class="table_icon">
                                <span><a href="{{contact_view.instagram}}" style="text-decoration: none; color: #fff;"><i
                                            class="fab fa-instagram-square cfas"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pb-2">
                    {% if messages %}
                    <ul class="messages" style="background-color: aliceblue;">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'home' %}">
                        {% csrf_token %}

                        {{contact_view.form}}
                        <div class="text-center text-lg-right pt-3">
                            <input type="submit" value="Submit" class="submit-btn w-sm-100">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer  -->
    <footer id="footer">
        <div class="container">
            <div>
                <ul id="footer_nav" class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer_last">
            <div class="container">
                <div class="text-center text-lg-left last">
                    <span class="pl-lg-3">Crafted with @excoder</span>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/sticky.js' %}"></script>
    <script src="{% static 'js/jquery.imageScroll.min.js' %}"></script>
    <script>
        //let labels=document.getElementsByTagName('label');
        $("label").hide();
    </script>


    {% block script %}

    {% endblock script %}

</body>

</html>