{% extends 'base.html' %}
{% load static %}

{% block style %}
<title>Contact - Chelsea Construction</title>
{% endblock style %}


{% block container %}

<!-- Contact background-->
<section id="history_banner" class="history_banner"
  style="background:linear-gradient(rgba(16, 51, 86, 0.5), rgba(16, 51, 86, 0.5)), url({{history_first_banner_pic}});">
  <div class="container pb-5" style="padding-top: 69px;">
    <div class="pb-5">
      <h1 class="text-center welcome_header" style="color: #fff;">Contact</h1>
    </div>
  </div>
  <div id="page_divider" style="background: transparent;">
    <div class="history_page_botom_divider"></div>
  </div>
</section>
{% endblock container %}