<!-- contact -->
<section id="page_divider">
    <div class="page_divider"></div>
</section>
<section id="contact">
    <div class="pt-5 pb-5 container">
        <h2 class="text-center major white" style="color: white;">Get In Touch</h2>
        <div class="row pt-5 pb-5">
            <div class="col-lg-4 col-md-12 pb-2">
                <div class="pr-lg-5">
                    <div class="logo_img_area">
                        <img src="{{contact_view.footer_logo}}" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pb-2">
                <div class="pr-lg-5" style="color: white;">
                    <div class="pb-2">
                        <div class="table_icon">
                            <span><i class="fas fa-map-marker-alt cfas"></i></span>
                        </div>
                        <div class="table_text">
                            <p class="contact_text">{{contact_view.address}}</p>
                        </div>
                    </div>
                    <div class="pb-2">
                        <div class="table_icon">
                            <span><i class="fas fa-phone-alt cfas"></i></span>
                        </div>
                        <div class="table_text">
                            <p class="contact_text">{{contact_view.phone}}</p>
                        </div>
                    </div>
                    <div class="pb-2">
                        <div class="table_icon">
                            <span><i class="far fa-envelope cfas"></i></span>
                        </div>
                        <div class="table_text">
                            <p class="contact_text">enquiries@chelsea-construction.co.uk</p>
                        </div>
                    </div>
                    <div class="pb-2">
                        <div class="table_icon">
                            <span><a href="{{contact_view.twitter}}" style="text-decoration: none; color: #fff;"><i
                                        class="fab fa-twitter-square cfas"></i></a></span>
                        </div>
                        <div class="table_icon">
                            <span><a href="{{contact_view.instagram}}" style="text-decoration: none; color: #fff;"><i
                                        class="fab fa-instagram-square cfas"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pb-2">
                <form action="">
                    <input class="w-100 mb-3 p-3 large" type="text" placeholder="Name">
                    <input class="w-100 mb-3 p-3 large" type="email" placeholder="Email">
                    <textarea class="w-100 p-3 large" name="" id="" cols="30" rows="10" placeholder="Message"
                        style="border: transparent;"></textarea>
                    <div class="text-center text-lg-right pt-3">
                        <a class="submit-btn w-sm-100" href="#">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- footer  -->
<footer id="footer">
    <div class="container">
        <div>
            <ul id="footer_nav" class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer_last">
        <div class="container">
            <div class="text-center text-lg-left last">
                <span class="pl-lg-3">Crafted with @excoder</span>
            </div>
        </div>
    </div>
</footer>