body {
	font-family: 'Questrial', Helvetica, Arial, Lucida, sans-serif;
}

.border_bottom {
	padding-bottom: 0.5em;
	border-bottom: solid 2px rgba(12, 30, 62, .125);
}

.history_page_botom_divider {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmM2Y4ZmYiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIvPjwvZz48L3N2Zz4=);
	background-size: 100% 100px;
	bottom: 0;
	height: 100px;
	z-index: 1;
}
.btn_common{
	padding: .5em 1em;
	font-size: 14px;
	background-color: #011e41;
	border-color: #f3f8ff;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 300ms ease 0ms;
}

.btn_carusal:hover{
	border: 2px solid transparent;
	color: #f3f8ff !important;
	background-color: #4f6582;
	border-color: #011e41 !important;
	text-decoration: none;
	transition: all 300ms ease 0ms;
}

#history_banner {
	background-blend-mode: screen;
	background-position: 50%!important;
	background-size: cover;
	background-repeat: no-repeat;
}

/* history  */

.history_header {
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
	font-size: 34px;
	font-weight: 600;
}

.history_text {
	font-family: 'Questrial', sans-serif;
	line-height: 1.3em;
	color: #103356 !important;
	font-size: 1.2em;
	font-weight: 400;
}

.text_common {
	font-family: 'Questrial', sans-serif;
	line-height: 1.3em;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
}

/* team  */

#team{
    padding: 35px 0;
}
#team a{
	color: #32516F;
}
.meet_heading{
	font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 34px;
    font-weight: 600;
}
/*
.toShow{
	display: none;
}

.toShow.expandText .toShow{
	display: block;
}*/

#portfolio_btn{
	background-color: #f3f8ff;
	border: 1px solid #d9d9d9;;
}