@import'utilities.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Questrial', sans-serif;
    line-height: 1.7em;
    overflow-x: hidden;
}

.btn{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: .3em 1em;
    border: 2px solid;
    border-radius: 5px;
}

.btn:hover{
    border: 2px solid transparent;
    color: #f3f8ff !important;
    background-color: #4f6582;
    border-color: #011e41 !important;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar */
#header{
    width: 100%;
    transition: all 0.3s ease;
    background-color: #fff;
}

#navlogo.sticky{
    height:69px;
    transition: all .3s ease;
}
/* logo area  */
.logo_container {
	height:80px;
    width: 40px;
    margin: 0 auto;
    transition: all .3s;
    
}
.logo_link{
    align-items: center;
}

#logo{
    max-height: 55%;
    transition: all .4s ease-in-out;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
}

/* nav area  */
#nav_area{
    line-height: 25px;
}
.custom_nav{
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
.custom_ul li{
    padding: 0 0.5rem;
    line-height: 23px;
}
#nav_ul li a{
    color: #0c1e3e;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
}
#nav_ul li a:hover{
    opacity: .7;
    transition: all .4s ease-in-out;
}

#toggle_icon{
   font-size: 1.5rem;
   font-weight: bolder;
   color: #0c1e3e;
   width: 2em;
   height: 1em;
}
/* banner */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/120ElginCrescent-14.jpg);
    background-size: cover;
}


/* welcome area  */
#welcome{
    background: #f3f8ff !important;

}
.welcome_header{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1em;
    color: #011e41 !important;
}

.welcome_text{
    font-size: 1.3em;
    padding-bottom: 1em;
    padding: 0 30px;
}

/* carusal */
#home {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#home .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home .middleImgOverlay {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    
}
#home .middleImgOverlay img{
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    top: 40%;
    z-index: 1;
}


/* service */
#service{
    padding-top: 69px;
    background-color: #0c1e3e;
}
.service_header{
    color: #f3f8ff !important;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 34px;
}

.service_card_body{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    color: #fff;
    line-height: 1em;
    font-weight: 500;
}

.service_card_btn{
    border-color: #fff;
    color: #fff;
}

/* page divider */
#page_divider{
    background-color: #0c1e3e;
}

/* page divider top  */

.page_divider{
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmM2Y4ZmYiPjxwYXRoIGQ9Ik0xMjgwIDE0MFYwSDBsMTI4MCAxNDB6Ii8+PC9nPjwvc3ZnPg==);
	background-size: 100% 100px;
	top: 0;
	height: 100px;
	z-index: 1;
}

/* page divider bottom */
.pb_bottom_divider{
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIvPjwvZz48L3N2Zz4=);
	background-size: 100% 100px;
	bottom: 0;
	height: 100px;
	z-index: 1;
}

.inside_divider{
    margin-bottom: -1px;
}
/* approach */
#approach{
    padding-top: 69px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
}

.aproach_heading{
    color: #0c1e3e;
    font-size: 34px;
    font-weight: 600;
}
.approach_card_text{
    line-height: 1em;
    font-weight: 500;
    color: #011e41 !important;
    font-size: 22px;
}

.btn-aproach_last{
    border-radius: 0px;
    background-color:#0c1e3e;
    border: 2px solid transparent!important;
    color: #fff;
}
#approach a:hover{
    text-decoration: none;
    
}
/* banner */
#banner{
    font-size: 0;
    padding-top: 69px;
}
.galary{
    width: 25%;
    display: inline-block;
}
/* portfolio */
#portfolio{
    padding-top: 69px;
    padding-bottom: 69px;
    background-color: #f3f8ff !important;
}
.major_portfolio {
	padding-bottom: 0.5em;
	border-bottom: solid 2px rgba(12,30,62,.125);
}
#portfolio a{
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-weight: 500;
}
/* contact */
#contact{
    background-color: #0c1e3e;
}
#contact a{
    text-decoration: none;
    color: #fff;
}
.major {
	padding-bottom: 0.5em;
	border-bottom: solid 2px rgba(255,255,255,.125);
}

.logo_img_area{
    width: 55%;
    margin: auto;
}
.table_icon{
    width: 32px;
    display: table-cell;
    line-height: 0;
    word-wrap: break-word;
}
.table_text{
    padding-left: 15px;
    display: table-cell;
    vertical-align: top;
}

.cfas{
    font-size: 40px;
    padding: 5px 5px 0px 0px;
}

.large{
    font-size: 14px;
    background-color: rgba(243,248,255,0.23);
    color: white;
    border: transparent;
}
.contact_text{
    font-size: 1.3em;
    line-height: 1.4em;
    word-wrap: break-word;
    cursor: pointer;
}

.submit-btn{
    background-color: #011e41;
    border: 2px solid #f3f8ff;
    border-radius: 3px;
    padding: 9px 20px;
    color: #f3f8ff;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Questrial', Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all .2s;
}
.submit-btn:hover{
    padding: 8px 19px;
    text-decoration: none;
    transition: all .2s;
    border-color: transparent;
    color: #f3f8ff;
    background-color: #4f6582;
}

/* footer */
#footer{
    background-color: transparent;
    
}
@media (min-width: 992px) {
    #footer_nav{
        justify-content: left!important;
    }
}

#footer_nav li{
    line-height: 3rem;
    font-weight: 600;
}
#footer_last{
    background-color: #666;
    color: #fff;
}
#footer_last .container .last span{
    line-height: 3rem;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 500;
}